.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(16, 16, 16);
  height: 100px;
  background-color: rgb(235, 234, 236);
}
.header-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.nav-con {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header li,
a {
  /* all: unset; */
  font-size: 20px;
}
a:hover {
  color: red;
}
.menu-icon {
  display: none;
}

@media screen and (max-width: 700px) {
  .header {
    height: 80px;
    width: 100%;
  }

  .header ul {
    display: none;
  }

  .nav-con {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-active {
    display: block;
    transition: transform 0.3s ease-in-out;
    position: absolute;
    justify-content: center;
    top: 80px;
    right: 0;
    z-index: 1;
    align-items: center;
    color: whitesmoke;
    background: #0d0d0d;
    height: 100%;
    width: 60%;
  }
  .header li {
    display: block;
    position: relative;
    height: 60px;
  }
}
