.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* background-image: url(../src/Assests/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-image: fixed; */
  /* background-color: rgb(255, 0, 174); */
}
