@import url("https://fonts.googleapis.com/css2?family=Anton&family=Libre+Baskerville:ital,wght@0,700;1,400&family=Montserrat&family=Plus+Jakarta+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Voltaire&display=swap");
.product_displayed_con {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Libre Baskerville", serif;
  /* background-color: red; */
}
.product_displayed {
  width: 90%;
  height: 90%;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}
.displayed_image {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(155, 8, 8); */
}
.displayed_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}
.title {
  font-family: "Anton", sans-serif;
  font-weight: 700;
  font-size: 48px;
}
.author {
  font-weight: 300;
  font-size: 30px;
  text-transform: capitalize;
  font-family: "Voltaire", sans-serif;
}
.add_to_cart {
  background-color: orange;
  color: black;
  width: 40%;
  height: 100%;
}
@media (max-width: 700px) {
  .product_displayed_con {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
  }
  .product_displayed {
    width: 100%;
    height: 90%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .add_to_cart {
    background-color: orange;
    color: black;
    width: 30%;
    height: 100%;
  }
}
